<%- include ("./chablon/head.ejs") %>
    <body>
        <%- include ("./chablon/nav.ejs") %>
    
        <!-- <div class="container" id="app"> -->
            <!-- <main>             -->
                <!-- <div class="row"> -->
                    <div class="col-md-8">
                        <form method="post" action="/api/v1/users">
                            <div class="form-group">
                                <input type="text" class="form-control" name="message" placeholder="Type your comments">
                            </div>

                            <%= message %>

                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </form>

                        <form method="get" action="/api/v1/seed">
                            <div class="form-group">
                                <input type="text" class="form-control" name="message" placeholder="Type your comments">
                            </div>
        
                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Seed data</button>
                            </div>
                        </form>

                        <a href="/api/v1/create">CreateUser</a>
                    </div>

                <!-- </div>  -->
            <!-- </main> -->
        <!-- </div> -->

<%- include ("./chablon/footer.ejs") %>

