<%- include ("./chablon/head.ejs") %>
<body>
  <%- include ("./chablon/nav.ejs") %>
  <p>Error 404Page not found</p>
  <a href="http://localhost:3000">Return home</a>


<%- include ("./chablon/footer.ejs") %>
