
    <%- include ("./chablon/head.ejs") %>

    <body>
        <%- include ("./chablon/nav.ejs") %>
    <!-- <div class="container" id="app">
        <main>            
            <div class="row"> -->
                <div class="col-md-8">
                    <form method="get" action="http://localhost:3000/users/">
                        <div class="form-group">
                          <label for="name">First and last name</label>
                          <input type="text" class="form-control" name="name" placeholder="name">
                          <br>
                          
                          <label for="email">Email</label>
                          <input type="text" class="form-control" name="email" placeholder="email">
                          <br>
    
                          <label for="name">Phone</label>
                          <input type="text" class="form-control" name="phone" placeholder="+380">
    
                          <br>
                          <label for="img">Select image:</label>
                          <input type="file" id="img" name="img" accept="image/*">
    
                        </div>
    
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
    <%- include ("./chablon/footer.ejs") %>
    