<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Yura Tsudzenko
          </a>
          <a href="/" id="back-home">Back to home</a>
      </div>

  </div>
</nav>

<button><a href="/api/v1/token">GenerateToken</a></button>
<button><a href="/api/v1/seed">SeedData</a></button>
<button><a href="/api/v1/create">CreateUser</a></button>
<button><a href="/api/v1/table?page=1&count=6">ShowAllUsers</a></button>
<button><a href="/api/v1/users/1">GetUserById</a></button>
<br>
<br>